/* Mediaqueries
   ========================================================================== */
@include mq-min-check(320px) {
  .main,
  .footer {
    padding: 40px;
  }
  .session-links {
    a {
      display: inline;

      &:before {
        color: $c-blue;
        content: "/";
        padding: 0 .5em;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
  .sponsor-1st {
    max-height: 180px;
  }
  .sponsor-2nd {
    height: 120px;
    max-width: 190px;
  }
  .sponsor-3rd {
    height: 80px;
    max-width: 127px;
  }
  #left-logic {
    height: 43px;
    margin: 50px 0;
    width: 190px;
  }
  .left-logic {
    // background-size: 100%;
    // height: 46px;
  }
}


@include mq-min-check(640px) {
  .main,
  .footer {
    width: calc(100% - 80px);
    padding: 0;
  }
  .button {
    font-size: 20px;
    padding: 8px 32px;
  }
  .tickets-button {
    padding: 10px 0;
  }
  .section-title {
    font-size: 60px;
  }
  .session-content {
    
  }
  .session-links {
    display: inline-block;
  }
  .schedule-title,
  .session-speaker-name,
  .session-time {
    display: inline;
  }
  .location-description {
    float: right;
  }
  .locations ul {
    margin-bottom: 20px;
  }
  .location {
    margin-bottom: 0;
  }

  .workshop-header {
    align-items: center;
    background: $c-white;
    display: flex;
    text-align: center;

    .workshop-summary:nth-of-type(even) & {
      flex-direction: row-reverse;
    }
  }
  .workshop-header-content {
    padding: 30px;
    width: 50%
  }
  .workshop-header-image-wrapper {
    display: block;
    width: 50%;
  }
  .workshop-header-image {
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 119%;
  }
}


@include mq-min-check(768px) {
  body {
    font-size: 20px;
  }
  .main,
  .footer {
    width: calc(100% - 40px);
  }
  .section-title {
    text-align: center;
  }
  .workshop-full .workshop-title,
  .location-title {
    font-size: 35px;
  }

  .masthead-bg {
    bottom: 100px;
  }

  .nav-main-wrapper {
    padding: 0 20px;
  }
  .nav-main {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;
    max-width: 800px;
  }
  .nav-list {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: auto;
    position: static;
    width: auto;

    li {
      display: inline-block;
    }

    a {
      color: $c-white;
      display: block;
      padding: 10px 4px 7px;

      &:hover, &:focus, &:active {
        background: $c-white;
        color: $c-blue;
      }
    }
  }
  .tickets-button {
    background: $c-white;
    padding: 10px 16px 7px;

    &, &:link, &:visited {
      color: $c-blue;
    }
    &:hover, &:focus, &:active {
      color: $c-white;
    }
  }
  .logo-wrapper {
    max-width: 1000px;
    padding: 20px 0;
    width: calc(100% - 40px);

    svg {
      display: inline-block;
      max-height: none;
      max-width: none;
      width: 50%;
    }
  }
  #svg-desc {
    margin: 0 0 0 -9%;
  }
  .svg-desc-text {
    font-size: 25px;
  }



  .session-content {
    padding-top: 40px;

    .session-style-titles & {
      padding-bottom: 17px;
      padding-top: 0;
    }
  }
  .session-wrapper {
    // display: table;
    // width: 100%;
  }
  .session-about-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 100%
  }
  .session-header {
    // float: left;
    margin-top: 17px;
  }


  .workshop-content-wrapper {
    // margin-bottom: 66px;
    // margin-top: 66px;
  }
  .workshop-content {
  }
  .workshop-list {
    li:first-child h4 {
      // margin-top: 0;
    }
  }

  .locations {
    font-size: 0;
    text-align: center;

    & > li {
      display: inline-block;
      font-size: 17px;
      margin-left: 40px;
      vertical-align: top;
      width: calc((100% - (40px * 2)) / 3);

      &:first-child {
        margin-left: 0;
      }
    }
    .sub-hr {
      border-top: 0 none;
      padding-top: 0;
    }
  }
  .location {
    margin-bottom: 25px;
  }
  .location-description {
    float: none;
    margin-top: 6px;
  }

  .sponsors-wrapper {
    background: $c-white;
    display: flex;
    justify-content: space-around;
  }
  .sponsor {
    a {
      text-align: center;
      width: auto;

      &:hover, &:focus, &:active {
        outline: 1px solid rgba($c-grey-title, .2);
      }
    }
  }
  .sponsor-1st {
    height: 210px;
    max-height: none;
    max-width: none;
    width: auto;

    img {
      max-width: 350px;
    }
  }
  .sponsor-2nd {
    height: 110px;
    max-width: 140px;

    img {
    }
  }
  .sponsor-3rd {
    height: 110px;

    img {
      max-height: 60px;
    }
  }

  #left-logic {
    height: 57px;
    width: 254px;
  }
}


@include mq-min-check(1024px) {

}