/* Mediaqueries
   ========================================================================== */
@include mq-min-check(320px) {
  .main,
  .footer {
    padding: 40px;
  }
  .session-links {
    a {
      display: inline;

      &:before {
        color: $c-blue;
        content: "/";
        padding: 0 .5em;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
  .sponsor-1st {
    max-height: 180px;
  }
  .sponsor-2nd {
    height: 120px;
    max-width: 190px;
  }
  .sponsor-3rd {
    height: 80px;
    max-width: 127px;
  }
  #left-logic {
    height: 46px;
    margin: 90px 0;
    width: 210px;
  }
  .left-logic {
    // background-size: 100%;
    // height: 46px;
  }
}


@include mq-min-check(640px) {
  .masthead,
  .main,
  .footer {
    padding: 30px;
  }
  .dtstart,
  .dtlocation,
  .nav-main,
  .tickets-button {
    font-size: 30px;
  }
  .section-title {
    font-size: 60px;
  }
  .session-content {
    
  }
  .session-links {
    display: inline-block;
  }
  .schedule-title,
  .session-speaker-name,
  .session-time {
    display: inline;
  }
  .location-description {
    float: right;
  }
  .locations ul {
    margin-bottom: 20px;
  }
  .location {
    margin-bottom: 0;
  }
}


@include mq-min-check(768px) {
  .masthead,
  .main,
  .footer {
    padding: 20px;
  }
  .session-title,
  .workshop-title,
  .location-title {
    font-size: 30px;
  }


  .session-content {
    padding-top: 40px;

    .session-style-titles & {
      padding-bottom: 17px;
      padding-top: 0;
    }
  }
  .session-wrapper {
    // display: table;
    // width: 100%;
  }
  .session-about-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 100%
  }
  .session-header {
    // float: left;
    margin-top: 17px;
  }


  .workshop-time {
    display: inline;
    padding-left: 0.5em;
  }
  .workshop-content-wrapper {
    margin-bottom: 66px;
    // margin-top: 66px;
  }
  .workshop-content {
  }
  .workshop-list {
    li:first-child h4 {
      margin-top: 0;
    }
  }

  .locations {
    font-size: 0;
    text-align: center;

    & > li {
      display: inline-block;
      font-size: 17px;
      margin-left: 40px;
      vertical-align: top;
      width: calc((100% - (40px * 2)) / 3);

      &:first-child {
        margin-left: 0;
      }
    }
    .sub-hr {
      border-top: 0 none;
      padding-top: 0;
    }
  }
  .location {
    margin-bottom: 25px;
  }
  .location-description {
    float: none;
    margin-top: 6px;
  }

  .sponsors-wrapper {
    font-size: 0;
  }
  .sponsor {
    display: inline-block;
    margin: 0 0 0 40px;
    max-width: 100%;
    vertical-align: middle;
    width: calc((100% - (40px * 5)) / 3 + 40px);

    &:first-child {
      margin-left: 0;
    }
    a {
      border: 0 none;
    }
  }
  .sponsor-2nd {
    width: calc((100% - (40px * 7)) / 4);
  }
  .sponsor-3rd {
    width: calc((100% - (40px * 5)) / 6);
  }
}


@include mq-min-check(1024px) {

}