$c-white: #FFF;
$c-green: #00DC89;
$c-green-logo: #00F5C0;
$c-blue: #0074D9;
$c-text: #808080;
$c-grey-title: #2A2A2A;
$c-grey-subtitle: #1A1A1A;

// fonts
// Anonymous Pro regular
// Rubik bold
$f-main: 'Anonymous Pro', monospace;
$f-title: 'Rubik', sans-serif;