@charset "UTF-8";

@import "var";
@import "mixin";

*, *:after, *:before {
  @include box-sizing(border-box);
}
body {
  background: $c-white;
  color: $c-text;
  font: 18px/1.667 $f-main, monospace;
  margin: 0;
  padding: 0;
}

/* Typography
   ========================================================================== */
a {
  text-decoration: none;

  &:link, &:visited {
    color: $c-blue;
  }
  &:hover, &:focus, &:active {
    color: $c-green;
  }
}
p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, strong {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
h2 {
  color: $c-grey-title;
  font-family: $f-title;
  font-weight: bold;
}
h3 {
  color: $c-grey-subtitle;
}
em {
  font-style: normal;
}
.section-title {
  font-size: 40px;
  line-height: 1.25;
  text-transform: lowercase;
}
.location-title,
.sponsor-title {
  color: $c-grey-title;
  font-size: 25px;
  line-height: 2;
}
.dtstart,
.dtlocation,
.session-time,
.workshop-time,
.location-description {
  color: $c-green;
}
h3, h4,
.nav-main,
.session-speaker-name,
.workshop-speaker-name,
.workshop-time,
.location {
  text-transform: uppercase;
}
.workshop-content {
  p {
    margin: 1em 0;
  }
}
.workshop-list {
  list-style: none;
  margin: 0;
  padding: 0;

  h4 {
    color: $c-grey-title;
    margin: 1em 0 0;
  }
}
.tbc {
  // color: $c-grey-title;
}
.more-sessions {
}


/* Grid
   ========================================================================== */
.main,
.footer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 6.25%;
}


/* Header
   ========================================================================== */
.masthead {
  text-align: center;
}
.nav-main {
  background: $c-blue;
    font-size: 20px;

  a, .nav-button {
    color: $c-white;
    cursor: pointer;
    display: block;
    padding: 10px 0;

    &:hover, &:focus, &:active {
      background: $c-green;
    }
  }
  .nav-button {
    display: none;
  }
  .yes-js & .nav-button {
    display: block;
  }
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .yes-js &.hide {
    display: none;
  }
}
.nav-button-toggle {
  display: none;
}
.nav-button-toggle.show {
  display: block;
}
.logo-wrapper {
  margin: 24px auto 36px;
  max-width: 280px;
  width: 58%;
  -webkit-transform: perspective(262px) rotateX(45deg);
          transform: perspective(262px) rotateX(45deg);

  .i-hate-safari & {
    -webkit-transform: none;
            transform: none;
  }

  svg {
    // stroke: $c-yellow;
  }
}
.no-svg .logo-wrapper {
  height: 386px;
  max-width: none;
  width: 418px;
}
.logo {
  margin: 40px auto;
  // max-width: 306px;
  // width: 50%;

  span {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    // background-size: 100% 100%;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 100% 0 0;
    text-indent: -200%;
  }
}
.dtstart,
.dtlocation {
  display: block;
  margin: 20px 0;
}
.tickets-button {
  color: $c-grey-title;
  display: block;
  font-size: 20px;
  padding: 10px 0;
}


/* Sections
   ========================================================================== */
.sub-hr {
  border-top: 1px solid rgba($c-grey-title, .2);
  padding-top: 20px;

  &:first-of-type {
    border-top: 0 none;
  }
}

.sessions-wrapper {
  // clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
.session-wrapper,
.workshop-wrapper,
.monty {
  padding-bottom: 20px;
}

/* Non Speaker Session
   ========================================================================== */


/* Speaker Session
   ========================================================================== */
.session-content {
  // clear: both;
  padding-top: 25px;

  .session-style-titles & {
    padding-top: 12px;
  }
}
.session-links {
  a {
    display: block;
    line-height: 2.5;
  }
}

/* Workshops
   ========================================================================== */
.workshop-content-wrapper,
.workshop-list {
  // margin-top: 25px;
}


/* Locations
   ========================================================================== */
.locations {
  &, & ul {
    // clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.location-title {
  // margin-bottom: 25px;
}
.location {
  // margin-bottom: 20px; //30px

  p {
    margin: 0;
  }
}


/* Sponsors
   ========================================================================== */
.main-sponsors {
}
.sponsor {
  background: $c-white;
  border-radius: 5px;
  height: 50vw;
  margin: 20px auto;
  max-width: 280px;
  width: 100%; // this is for IE

  a {
    display: block;
    height: 100%;
    padding: 10px;
    width: 100%;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  img {
    border: 0 none; // IE fix
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
}
.sponsor-title {
  // margin-bottom: 36px;
}


/* Footer
   ========================================================================== */
.footer {
  padding-bottom: 30px;
  padding-top: 22px;
}
#left-logic {
  // height: 23px;
  margin: 30% 0;
  width: 65%;

  object {
    display: block;
  }
}
.left-logic {
  display: none;
}
.no-svg .left-logic {
  background-image: url(../images/left-logic.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 113px 23px;
  border-bottom: 0 none;
  overflow: hidden;
  display: block;
  text-indent: -200%;
  height: 91px;
  margin: 0 auto;
  width: 414px;
}


/* Diversity
   ========================================================================== */
.diversity p {
  margin: 28px 0;

  &:last-child {
    margin-bottom: 88px; //30px
  }
}


@import "mq";