@charset "UTF-8";

@import "var";
@import "mixin";

*, *:after, *:before {
  @include box-sizing(border-box);
}
html {
  color: $c-text;
  font: 18px/25px $f-main;
}
body {
  margin: 0;
  padding: 0;
}

abbr {
  border-bottom: 1px dashed black;
}

.main-wrapper {
  background: $c-bg url(../images/pattern.png);
  background-size: 320px 50px;

  @include mq-min-check(0, 2) {
    & {
      background-image: url(../images/pattern2x.png);
    }
  }
}

/* Reset */
h1, h2, h3, h4,
p, strong, em, cite,
ul, ol, li {
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "typeography";

/* Grid
   ========================================================================== */
.main,
.footer {
  margin: 0 auto;
  max-width: 800px;
  padding: 51px 6.25% 25px;
}


/* Header
   ========================================================================== */
.masthead {
  background: $c-grey-subtitle;
  // overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 0
}
.masthead-bg {
  bottom: 53px;
  display: block;
  font-size: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  // @supports (object-fit: cover) {
    &:before {
      display: none;
    }
    & img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  // }
}

/* Nav */
.nav-main-wrapper {
  background: $c-blue;
  font-size: 20px;
  width: 100%;
}
.tickets-button {
  display: block;
  padding: 15px 0;
}
.nav-list {
  /* Hide only visually, but have it available for screen readers: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Logo */
.logo-wrapper {
  margin: 0 auto;
  max-width: 250px;
  padding: 6.25% 0;
  width: 87.5%; // 100% - (6.25% * 2)

  svg {
    display: block;
    margin: 0 auto;
  }
}
.circle {
  display: block;
  margin: 0 auto;
  max-height: 40vh;
  max-width: 250px;
  width: 100%;
}
.circle1 {
  position: relative;
  z-index: 1;
}
.circle2 {
  margin-top: -13%;
  @media all and (orientation: landscape) {
    & {
      margin-top: -6vh;
    }
  }
  @media all and (orientation: portrait) and (max-width: 320px) {
    & {
      margin-top: -8%;
    }
  }
}
#svg-logo-circle {
  fill: $c-green-logo;
  fill-opacity: .6;
}
#svg-logo-ff {
   fill: $c-white;
}
#svg-desc-circle {
  fill: $c-grey-title;
  stroke: $c-green-logo;
  opacity: .7;
}
.svg-desc-text {
  fill: $c-white;
  font-family: inherit;
  font-size: 36px;
  text-anchor: middle;
  text-transform: uppercase;
}
.no-svg {
  .circle2 {
    margin-top: 0;
  }

  .svg-desc-text {
    color: $c-white;
    font-size: 18px;

    & .t {
      display: block;
    }
  }
}

.logo {
  span {
    background-image: url(../images/no-svg-logo.png);
    background-repeat: no-repeat;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 100% 0 0;
    text-indent: -200%;
  }
}

@media all and (max-width: 767px) and (max-height: 767px) {
  .masthead {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .logo-wrapper {
    padding: 0;
    width: 100%;
  }

  .i-hate-safari {
    .masthead {
      display: block;
      height: auto !important; // to win over the javascript
    }
    .logo-wrapper {
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}


/* Sections
   ========================================================================== */
.sub-hr {
  // border-top: 1px solid rgba($c-grey-title, .2);
  // padding-top: 20px;

  &:first-of-type {
    // border-top: 0 none;
  }
}

.session-wrapper,
.workshop-wrapper,
.monty {
  padding: 25px 0;
}

/* Non Speaker Session
   ========================================================================== */


/* Speaker Session
   ========================================================================== */
.session-links {
  margin: 12.5px 0;

  a {
    color: $c-green;
    display: block;

    &:hover, &:focus, &:active {
      color: $c-blue;
    }
  }
}

/* Workshops
   ========================================================================== */
.workshop-header-image-wrapper {
  display: none;
}
.workshop-wrapper .button {
  margin: 25px 0 9px;
}
.workshop-full .workshop-details,
.workshop-content p {
  padding-top: 25px;
}
.workshop-full {
  border-top: 1px solid rgba($c-grey-title, .2);
  margin-top: 25px;
  padding-top: 50px;

  &:first-of-type {
    border-top: 0 none;
    margin-top: 0;
    padding-top: 25px;
  }
}


/* Locations
   ========================================================================== */
.locations {
  padding-bottom: 25px;

  & > li {
    margin-top: 50px;
  }
}
.location {
  margin-top: 25px;
}


/* Diversity
   ========================================================================== */
.diversity {
  p {
    padding-top: 25px;

    &:last-child {
      padding-bottom: 25px;
    }
  }

  h2 {
    margin: 12px auto;
  }

  li {
    list-style: inside;
  }
}


/* Sponsors
   ========================================================================== */
.monty {
  padding-top: 0;

  &:first-child {
    padding-top: 25px;
  }
}
.sponsor {
  background: $c-white;
  height: 150px;
  margin: 25px auto;
  max-width: 240px;
  width: 100%; // this is for IE

  a {
    display: block;
    height: 100%;
    padding: 25px;
    position: relative;
    text-align: center;
    width: 100%;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  img {
    border: 0 none; // IE fix
    max-height: 100%;
    max-width: 100%;
    text-transform: uppercase;
    vertical-align: middle;

    &::after {
      align-items: center;
      background: $c-white;
      bottom: 0;
      content: attr(alt);
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.small-monty a {
  display: block;
  padding-top: 25px;
}


/* Footer
   ========================================================================== */
.footer {
  padding-top: 25px;

  p {
  padding-bottom: 25px;
  }
}
#left-logic {
  margin: 25px 0;
  width: 65%;

  object {
    height: 100%;
  }
}
.left-logic {
  // display: none;
}
// need the no-svg class otherwise browsers that support svg will anyhow donwload the png
.no-svg .left-logic {
  background-image: url(../images/left-logic.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 113px 23px;
  border-bottom: 0 none;
  overflow: hidden;
  display: block;
  text-indent: -200%;
  height: 44px;
  margin: 0;
  width: 200px;
}


/* Quotes
   ========================================================================== */
.quote-wrapper {
  background: $c-grey-title;
  color: $c-white;
}
.quote {
  padding-bottom: 25px;
  padding-top: 25px;

  p {
    &:before {
      content: '\201C';
    }
    &:after {
      content: '\201D';
    }
  }

  a {
    &, &:link, &:visited {
      color: $c-text;
    }
    &:hover, &:focus, &:active {
      color: $c-green;
    }
  }
}
.quote-image-wrapper {
  display: none;
}


@import "mq";

:target {
  padding-top: 100px;
}
