/* Typography
   ========================================================================== */
a {
  text-decoration: none;

  &, &:link, &:visited {
    color: $c-blue;
  }
  &:hover, &:focus, &:active {
    color: $c-green;
  }
}
h2 {
  color: $c-grey-title;
  font-family: $f-title;
}
h3 {
  color: $c-grey-subtitle;
}
.section-title {
  font-size: 40px;
  line-height: 50px;
  padding-bottom: 25px;
  text-transform: lowercase;
}
.workshop-full .workshop-title,
.location-title,
.sponsor-title {
  color: $c-grey-title;
  font-size: 25px;
  line-height: 25px;
}
.session-time,
.workshop-date,
.workshop-time,
.location-description {
  color: $c-green;
}
h3, h4,
.nav-main,
.session-speaker-name,
.workshop-speaker-name,
.session-links,
.workshop-date,
.location,
.button {
  text-transform: uppercase;
}
.workshop-summary .workshop-speaker-name {
  color: $c-green;

  &:hover, &:focus, &:active {
    color: $c-blue;
  }
}
.workshop-list {
  h4 {
    color: $c-grey-title;
    margin: 25px 0 0;
  }
}
.workshop-full h2 {
  font-size: 25px;
  margin: 40px 0 0;
}

.button {
  background: $c-blue;
  color: $c-white;
  display: inline-block;
  padding: 8px 20px;
}
a.button {
  &, &:link, &:visited {
    color: $c-white;
  }

  &:hover, &:focus, &:active {
    background: $c-green;
    color: $c-white;
  }
}
.workshop-button-disabled {
  background: $c-text;
  color: $c-white;
}
