:marked
  #ffconf: leading web development ideas since 2009. This time: twice. Put 10th and 11th November in your diary and the ticket release date will be [announced](https://twitter.com/ffconf) soon ❤
footer
 :marked
   ffconf 2016 &bullet; [Brighton UK](https://goo.gl/maps/wK5ypEeYPWM2) &bullet; [Code of Conduct](http://confcodeofconduct.com) &bullet; [Previously](http://2015.ffconf.org)
