extends _partials/layout.jade

block content

  if config.phase >= 0.5
    include _partials/sessions

  if config.phase >= 0.5
    include _partials/workshops-summary

  if config.phase >= 0.5
    include _partials/locations

  include _partials/diversity