extends _partials/layout.jade
include _partials/quote

block content

  if config.phase >= 0.5
    include _partials/sessions
    +quote()

  if config.phase >= 0.5
    include _partials/workshops-summary
    +quote()

  if config.phase >= 0.5
    include _partials/locations
    +quote()

  include _partials/diversity
  +quote()
