:marked
  #ffconf: leading web development ideas since 2009. This time: twice, on the 10th and 11th November. **Tickets on sale 13 July 11am BST, and 20 July 11am BST**. Be fast, we keep selling out in minutes! More details [announced](https://twitter.com/ffconf) soon ❤
footer
 :marked
   ffconf 2016 &bullet; [CFP](https://remysharp.com/2016/04/25/ffconf-2016-cfp)  &bullet; [Brighton UK](https://goo.gl/maps/wK5ypEeYPWM2) &bullet; [Code of Conduct](http://confcodeofconduct.com) &bullet; [Previously](http://2015.ffconf.org)
