footer.footer
  p.blurb
    a(href='', target='_blank') #ffconf
    |  is run by Left Logic, a small Brighton (UK) based development company, specialising in Node based applications and bleeding edge front end technology.

  p.codeofconduct
    | By attending any of our events (workshops & conference & fringe events) you are agreeing to our <a href='http://confcodeofconduct.com', target='_blank'>code of conduct</a>.

  div#left-logic
    object(type='image/svg+xml', data='/images/left-logic.svg')
      a.left-logic(href='http://leftlogic.com', target='_blank') Left Logic