style
  each workshop in public._data.workshops
    = '#' + workshop.slug + ' .workshop-header-image{'
    = 'background-image:url(/images/workshops/1x-' + workshop.speaker.photo + ');'
    = '}'

  = '@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {'
  each workshop in public._data.workshops
    = '#' + workshop.slug + ' .workshop-header-image{'
    = 'background-image:url(/images/workshops/2x-' + workshop.speaker.photo + ');'
    = '}'
  = '}'

section.main(role='region', aria-labelledby='workshops')
  h2#workshops.section-title(role='heading', aria-level='2') Workshops

  p.workshops-intro All workshops are run on 9 November and include a conference pass for the 10 November for £445+VAT. You can request to change the conference pass day, which will be granted based on availability.

  each workshop, index in public._data.workshops
    include ../_partials/workshop
