section.main(role='region', aria-labelledby='workshops')
  h2#workshops.section-title(role='heading', aria-level='2') Workshops
  each workshop in public._data.workshops
    section.workshop-wrapper.workshop-summary(id=workshop.slug)
      header.workshop-header
        div.workshop-header-content
          h3.workshop-title(role='heading', aria-level='3')= workshop.title
          div.workshop-details
            a.workshop-speaker-name(target='_blank' href='https://twitter.com/#{workshop.speaker.twitter}')= workshop.speaker.name
          div
            a.button(href='/workshops#' + workshop.slug) More Info
        div.workshop-header-image-wrapper
          div.workshop-header-image(style='background-image:url(/images/workshops/' + workshop.photo + ')')